<div class="span2"></div>
<div class="span8">	
	<h2>Create a new User</h2>
	<%= render 'form' %>
	<%= link_to "Back", admin_players_path, :class=>"btn btn-inverse"  %>
</div>
<div class="span2"></div>